In [37]:
import requests
import re
import csv
from datetime import date
from bs4 import BeautifulSoup

In [2]:
r = requests.get('https://corona.kepriprov.go.id/data.phtml')
soup = BeautifulSoup(r.content, 'html.parser')

In [57]:
with open('kepri.csv', 'a+') as csv_file:
    fieldnames = ['tanggal', 'wilayah', 'total_positif', 'aktif', 'sembuh', 'meninggal']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    list_wilayah = soup.find_all('div', {'class':'box-alkes'})[-10:-3]
    # Cukup Sekali saja => writer.writeheader()
    for wilayah in list_wilayah:
        nama = wilayah.find_all('span')[0].text
        nama = nama.strip()
        nama = re.sub(r'(Kab.|Kota)\s', '', nama)
        temp = {}
        temp['tanggal'] = date.today()
        temp['wilayah'] = nama
        c = 2
        for data in wilayah.find_all('span', {'class':'timer'}):
            temp[fieldnames[c]] = data['data-to']
            c += 1
        writer.writerow(temp)

In [58]:
import pandas as pd
df = pd.read_csv('kepri.csv')
df

      tanggal            wilayah  total_positif  aktif  sembuh  meninggal
0  2020-08-03            Karimun              7      1       6          0
1  2020-08-03             Bintan             20     12       7          1
2  2020-08-03             Natuna              0      0       0          0
3  2020-08-03             Lingga              1      0       0          1
4  2020-08-03  Kepulauan Anambas              0      0       0          0
5  2020-08-03              Batam            330     64     252         14
6  2020-08-03     Tanjung Pinang             71     42      26          3

In [53]:
df['total_positif'].sum()

429

In [71]:
print("-" * 50)
print("Rekapitulasi COVID-19 di Kepulauan Riau")
print("Per tanggal", date.today(), "Sumber: corona.keprigov.go.id")
print("-" * 50)
list_wilayah = soup.find_all('div', {'class':'box-alkes'})[11:18]
for wilayah in list_wilayah:
    nama = wilayah.find_all('span')[0].text
    nama = nama.strip()
    nama = re.sub(r'(Kab.|Kota)\s', '', nama)
    print(nama, end=" ")
    for data in wilayah.find_all('span', {'class':'timer'}):
        print(data['data-to'], end=" ")
    print()
print("-" * 50)
print("Total:", df['total_positif'].sum())
print("-" * 50)

--------------------------------------------------
Rekapitulasi COVID-19 di Kepulauan Riau
Per tanggal 2020-08-03 Sumber: corona.keprigov.go.id
--------------------------------------------------
Karimun 7 1 6 0
Bintan 20 12 7 1
Natuna 0 0 0 0
Lingga 1 0 0 1
Kepulauan Anambas 0 0 0 0
Batam 330 64 252 14
Tanjung Pinang 71 42 26 3
Total: 429
--------------------------------------------------